/* ---------------------------------- general modifications ----------------------------------*/

* {
    padding: 0px;
    margin: 0px;}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(222,225,221);
    background-image: "background.png";
    color: rgb(40, 54, 61);}


h1 {
    margin: 1vw;
}

h2 {
    margin : 1vw;
}

h3 {
    margin: 1vw;
}

ul {
    text-align: left;
    font-family: "Georgia";
    font-size: large;
    line-height: 1.4;
    white-space: normal;
    margin-left: 30px;
}

p {
    word-wrap: break-word;
    text-align: left;
    font-family: "Georgia";
    font-size: large;
    line-height: 1.4;
    white-space: normal;
    width: 100%; 
    margin: 0 auto;
}

figcaption {
    font-family: "Georgia";
    margin-top: 20px;
    font-size: large;
}

.math {
    width: inherit;
    overflow-x: auto;
}

.inbox{
    padding: 10px;
}

/* ---------------------------------- navigation bar ----------------------------------*/

nav {
    font-size:large;
    font-family: "Palatino Linotype", sans-serif;           
    box-shadow: 0px 2px 4px #5d5d5d;
    position: sticky;
    width: 100%;
    background-color: rgb(109, 145, 151);
    margin: 0px auto 0px auto;
    top: 0px;
}

nav a {
        display: block;
        text-decoration: none;
        color: rgb(40, 54, 61);
        border-bottom: 2px solid transparent; 
        padding: 10px 0px;
}

nav a:hover{
    color: rgb(213, 188, 160);
    border-bottom: 2px solid rgb(213, 188, 160);}

nav ul {
    margin-left: 0px;
    list-style-type: none;}

nav ul::after{
    content: "";
    display: table;
    clear: both;}

nav li {
    float: left;
    width: 25%;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
}


.sous{
    display: none;
    background-color: rgb(109, 145, 151);
    position: absolute;
    width: 100%;
    z-index: 1000;}

nav ul .sous{
    width: 25%;}

nav > ul li:hover .sous{
    display: block;}

.sous li{
    width: 100%;
    text-align: left;}

.sous a{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px;
    border-bottom: none;}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;}


/* ---------------------------------- columns ----------------------------------*/

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
@media (max-width: 768px) {
    .container {
           flex-direction: column; 
    }
}

.left-column {
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 40px;
}

.right-column {
    flex: 2;
    display: flex;
    justify-content: center;
    padding: 40px;
}

#logo {
    width: 200px;
    border-radius: 40px;
}

.box01{
    padding: 10px;
    margin : 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 8px #5d5d5d;
    border-radius: 8px;
}

.box02{
    padding: 10px;
    margin : 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 8px #5d5d5d;
    border: #000000 solid 2px;
}

.imglink {
    transition: filter 0.5s ease-in-out;
}

.imglink :hover {
    filter: hue-rotate(260deg);
    transform: scale(1.2);
}


@media (max-width: 768px) {
    .juliacontainer {
        width:80vw; 
        height: 80vw; 
        display:flex; 
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .juliacontainer {
        width: 30vw; 
        height: 30vw; 
        display:flex; 
        justify-content: center;
    }
}

#chart-container {
    margin: auto;
}
input[type="number"] {
    height: 50px;
    margin: 10px;
    font-size: 16px;
}
button {
    height: 50px;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 8px;
    background-color: #6D9197;
    border-radius: 10px;
    border: 2px solid #28363D;
    color: #000000;
    text-align: center;
    cursor: pointer;
    
    transition: all 0.5s;
}

button:hover {
    background-color: #6D9197;
    border: 2px solid  #D5BCA0;
    color: #D5BCA0;
}
/*

.flexbox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}

.flexbox-item {
    padding: 10px;
    margin : 10px;
    flex-shrink: 0;
    align-self: center;
    text-align: center;
    box-shadow: 1px 4px 8px #4e4e4e;
    min-height: 400px;
    min-width: 200px;
    border-radius: 20px;
    border: solid 10px #aac4bc;
    background-color: #ffffff;
    transition: all .3s ease;
}*/


.flexbox-container {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
}

.flexbox-item {
    padding: 10px;
    margin : 10px;
    text-align: center;
    box-shadow: 1px 4px 8px #4e4e4e;
    min-width: 40vw;
    max-width: 80vw;
    margin: 1%;
    margin-top: 2%;
    border-radius: 20px;
    border: solid 10px #aac4bc;
    background-color: #ffffff;
    flex : 5;
    transition: all .3s ease;
}

.flexbox-item:hover {
    box-shadow: 1px 6px 12px #4e4e4e;
    border: solid 10px rgb(213, 188, 160);
    -ms-transform: scale(1.09);
    -webkit-transform: scale(1.02);
    transform: scale(1.04);
    background-color: #ffffff;
}
